$colors: (
    letters: (
        "black": #222,
        "white": #efefef,
        brandName: rgb(250, 203, 70),
        hovercolor: #fdcc52,
    ),
    backgrounds: (
        rosepurple: white rgb(218, 36, 49) rgb(122, 67, 151),
        socialmedia: rgb(255, 195, 64) rgb(253, 197, 58),
    ),
    socialmediaicons: (
        icoFacebook: rgb(59, 89, 153) white,
        icoTwitter: white rgb(29, 161, 243),
        icoGoogle: white rgb(221, 76, 57),
    ),
);
